.image {
    width: 49%;
    background-color: transparent;
}
.image::webkit-full-screen {
    width:100%;
}

.container {
    width: 100%;
    /*background: transparent;*/
    position: relative;
    display: inline-block;
    padding-top: 30px;
}
.container:webkit-full-screen {
    height: 100%;
}
.button {
    position: absolute;
    z-index: 1;
    top: 40px;
    left: 60px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: grey;
    border: none;
    color: white;
    /*padding: 5px 5px;*/
    text-align: center;
    display: inline-block;
}
